/* Fonts & Icons */

@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

* {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Kreon', 'Helvetica';
    color: #73879c;
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.clearfix:before,
.clearfix:after {
    width: 100%;
    display: table;
    content: '';
}

.container {
    max-width: 1770px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 64px 0px 64px;


}

.container2 {
    /* padding-right: 50px; */
    margin-top: 30px;
    background-color: white;
    align-items: center;
}

.container3 {
    /* padding-right: 50px; */
    background-color: black;
    padding-bottom: 30px;
    margin-bottom: 60px;
}

h1 {
    font-size: 55px;
    line-height: 1.5;
    font-weight: 700;
}

h5 {
    font-size: 26px;
    font-weight: 300;
}


/* Navbar */

.navbar {
    font-size: 26px;
    letter-spacing: 3px;
    line-height: 9px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
}


/* section-1 */

.bg-place-inside {
    background-image: url('../assets/images/images7/banner2.png');
    background-repeat: no-repeat;
    max-width: 1770px;
}

.content1 {
    padding: 214px 0px 0px 144px;
    color: #ffffff;
    text-align: start;
}

.content1 h5 {
    font-family: Arial, Helvetica, sans-serif;
}

.btn-lg {
    background-color: #ff8758;
    text-transform: uppercase;
    font-size: 18px;
    color: #fefefe;
    font-weight: 700;
}

.section-1 .container .row .col-md-8 h3 {
    font-size: 48px;
    color: #222222;
    font-weight: 400;
    font-family: "Kreon";
    background-color: #f4f4f4;
    padding-top: 100px;
    padding-left: 84px;
    padding-right: 150px;
    padding-bottom: 121px;
}


/* trip */

.col-md-12 h5 {
    font-weight: 700;
    line-height: 9px;
    color: #222222;
    letter-spacing: -3px;
    padding-top: 56px;
}

.col-md-12 .strip {
    padding-left: 1256px;
    padding-top: 20px;
    padding-bottom: 50px;
    align-content: center;
}

/* section-2-project */

.bg-project {
    background-image: url('../assets/images/images7/background2.png');
    height: 949px;
}

.section-2 .container .row .bg-project h2 {
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 9px;
    color: #fefefe;
    font-weight: 700;
    padding-top: 384px;
    padding-bottom: 22px;
}

.section-2 .container .row .bg-project h1 {
    font-size: 26px;
    letter-spacing: -3px;
    line-height: 9px;
    color: #fefefe;
    font-weight: 700;

}

.section-2 .container .row .bg-project h5 {
    padding: 30px 238px;
    font-size: 18px;
    line-height: 32px;
    color: #fefefe;
    font-family: "Helvetica";

}

.pr4 {
    height: auto;
}


/* Section - 3 details */

.section-3 {
    background-color: #f5f5f5;
}

.section-3 .container .row .col-md-6 .row .col-md-6 h1 {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    text-align: center;
}

.section-3 .container .row .col-md-6 .row .col-md-6 h2 {
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    text-align: center;
}

.section-3 .container .row .col-md-6 .row .col-md-6 h5 {
    width: 258px;
    height: 216px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}

.section-3 .container .row .col-md-6 .row .col-md-6 .btn-lg {
    text-align: center;
}


/* Section-4 packages */

.section-4 {
    background-color: #f5f5f5;
}

.section-4 .container .row .col-md-3 {
    background-color: #ffffff;
}